* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #414141;             /* Dark gray */
    background-color:white;     /* Light gray */
    font-size: 16px;
    line-height: 1.6em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-nav {
    margin-bottom: 50px;
    background-color: white;
    height: 80px;
    padding-top: 30px;
    border-bottom: 1px solid black;
    text-align: center;
}

.main-nav li {
    display: inline;
    margin-right: 20px;
}

.menu {
    font-size: 12px;
    color: black;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-weight: bold;
    list-style-type: none;
}

.logo {
    text-align: center;
    background-color: peachpuff;
    height: 35px;
    padding-top: 10px;
    margin-top: 10px;
}

.content {
    background: whitesmoke;
    overflow: hidden;
    margin-bottom: 50px;
    height: 300px;
}

.content h2 {
    margin-bottom: 20px;
}

.blog {
    border: 1px solid black;
    padding: 20px 30px 20px 20px;
    width: 31%;
    margin: 25px 1.15%;
    height: 250px;
    float: left;
}

.article-about {
    width: 60%;
    margin: 0 auto 100px;
}

.article h2 {
    margin-bottom: 20px;
}

.article-image {
    float: right;
    margin-left: 50px;
    margin-top: 20px;
}

.footer-nav {
    height: 250px;
    background-color: #f3f1ee;
    padding: 25px;
}

.footer-nav li {
    font-size: 10px;
}

.footer-nav-left {
    float: left;
    margin-left: 400px;
}

.footer-nav-right {
    float: right;
    margin-right: 400px;
}

.copyright {
    margin-top: 50px;
}

